{% extends 'blog/base.html' %}

{% block content %}

<div class="main_page_style">
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12" align="center">

            <h5><a href="{% url 'antalya' %}"><i>Antalya </i></a><h7><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
  <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/></h7><a href="{% url 'kemer' %}"><i>Kemer</i></a></h5>

        </div>
        <div class="col-xl-4 col-md-4 col-sm-12" align="center">

            <h3></h3>
            <h6><i>love at first sight</i></h6>

        </div>
        <div class="col-xl-4 col-md-4 col-sm-12" align="center">

            <h5><a href="{% url 'marmaris' %}"><i>Marmaris </i></a><h7><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
  <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/></h7><a href="{% url 'fethie' %}"><i>Fethie</i></a></h5>
            <br>
            <br>
            <br>
            <br>

            <h5 align="left"><i>Этот блог посвящен работе аниматором в Турции.</i></h5>
            <h5 align="left"><i>Здесь будут раскрыты все самые интересные темы для людей, которые
                хотят попробовать себя в этой профессии.</i></h5>
            <h5 align="left"><i>Основано на собственном 4-х летнем опыте работы.</i></h5>

            <br>
            <h5 align="left"><a href="{% url 'pages' %}" class="btn btn-dark white-oranje-style"><b>ЧИТАТЬ ПОСТЫ<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></b></a></h5>




        </div>
    </div>
</div>





</div>
<br>
<div class="container">
    <div class="row">
        {% for info in content %}
        <div class="col-xl-12 col-md-12 col-sm-12" align="center">
            <h4>БЛОГ АНИМАТОРА</h4>
            <br>
            <h2><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filter-right" viewBox="0 0 16 16">
  <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
</svg>{{info.title}}<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
  <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
</svg></h2>
            <br>
        <div class="col-xl-12 col-md-12 col-sm-12" align="left">
            <h5>{{info.content | linebreaks}}</h5>
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12" align="center">
            <img src="{{info.picture_1.url}}" class="card-img-top" alt="...">
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12" align="center">
            <img src="{{info.picture_2.url}}" class="card-img-top" alt="...">
        </div>
    </div>
</div>

{% endfor %}
<br>
{% endblock %}
