{% extends 'blog/base.html' %}

{% block content %}
<div class="authentication-style">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4" align="left">
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4" align="center">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>{{title}}</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-error">{{form.non_field_errors}}</div>
                    {% for f in form %}
                    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}:</label>{{f}}</p>
                    <div class="form-error">{{f.errors}}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-dark white-oranje-style">Войти</button>
                </form>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4" align="left">
            </div>
        </div>
    </div>

</div>
{% endblock %}