{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="posts_style">
    <br>
    <h4 align="center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filter-right"
             viewBox="0 0 16 16">
            <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
        </svg>
        <u>НЕДАВНИЕ СТАТЬИ</u>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filter-left"
             viewBox="0 0 16 16">
            <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </h4>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12" align="center">
                <ul class="list-articles">
                    {% for article in articles %}
                    <li>
                        <div class="article-panel">
                            <p class="first from_left_big">{{article.time_update | date:'d.m.Y'}}</p>
                        </div>
                    <li class="from_left_big"><h1 align="left"><a class="black-grey-style"
                                                              href="{{ article.get_absolute_url }}">{{article.title}}</a>
                    </h1>
                        <div class="clear"></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}





